# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
      - name: Build jsyntrax
        run: mvn -B package --file pom.xml -pl jsyntrax
      - name: Build documentation
        run: mvn -B verify --file pom.xml -pl doc
        env:
          DIAGRAM_JSYNTRAX_HOME: ${{ github.workspace }}/jsyntrax/target/appassembler
      - name: Deploy to GitHub Pages
        if: success() && github.ref == 'refs/heads/main'
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: doc/target/generated-docs
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
